extends layout

block content
    .row
        .col-md-12
            +panel-primary("Descriptive statistical report ")
                form(method="post" id='diff-form')
                    //progress bar
                    .progress
                        .progress-bar.progress-bar-striped.active(id="diff-progress",role='progressbar', aria-valuenow=value, aria-valuemin='0', aria-valuemax='100', style='width: 0%')
                            span.sr-only 0% Complete
                    //the result
                    .alert.alert-dismissible.alert-info(id="info-bubble",role='alert', hidden=true)
                        +icon("info-sign")
                        button.close(type='button', data-dismiss="alert", aria-label="Close")
                            span &times;
                        | The Report is available at this
                        a.alert-link(id="report-link", href='#', target="_blank")  link
                        | .

                    .alert.alert-dismissible.alert-danger(id="error-bubble",role='alert', hidden=true)
                        +icon("remove-sign")
                        button.close(type="button",data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true")  &times;
                        | There was an error while processing your request, please try again.

                    fieldset
                        //legend Report
                        //+input('text', "diff-title", config.title, 'Report title', 'config[title]')
                        //+input('text', "diff-author", config.author, 'Report author', 'config[author]')
                        //+input('text', "diff-description", config.description, 'Report description', 'config[description]')
                        div.form-group
                            label(for='diff-alpha-title') Alpha title
                            input(type='text' class='form-control' id="diff-alpha-title" value=config.alpha.title name='config[alpha][title]')
                        div.form-group
                            label(for='diff-alpha-description') Alpha description
                            input(type='text' class='form-control' id="diff-alpha-description" value=config.alpha.description name='config[alpha][description]')

                        .form-group
                            label(for="diff-alpha") Alpha file input
                            input.filestyle.form-control(type='file' id='diff-alpha'  data-buttonName="btn-primary" data-placeholder="No file"
                            data-buttonText="Select File")
                        div.form-group
                            label(for='diff-beta-title') Beta title
                            input(type='text' class='form-control' id="diff-beta-title" value=config.beta.title name='config[beta][title]')
                        div.form-group
                            label(for='diff-beta-description') Beta description
                            input(type='text' class='form-control' id="diff-beta-description" value=config.beta.description name='config[beta][description]')
                        .form-group
                            label(for="diff-beta") Beta file input
                            input.filestyle.form-control(type='file' id='diff-beta'  data-buttonName="btn-primary" data-placeholder="No file"
                            data-buttonText="Select File")
                    p.buttons.text-center
                        button.btn.btn-primary(type='button' id='generate-diff' ) Generate report
                        //input.btn.btn-primary(type='submit' id='generate' value='Generate report')
                        //+submit-primary('Generate report')
                        //input(type="submit", value="Save")
    script(type="text/javascript", src="/javascripts/upload.js")