extends ../node_modules/pug-bootstrap/_bootstrap.pug

append styles
    -var title = "RDF Fingerprinter"
    title= title
    //link(rel='stylesheet', href='/jade-bootstrap/css/sticky-footer-navbar.css')
    //link(rel='stylesheet', href='/jade-bootstrap/css/navbar-.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type="text/javascript", src="/jquery/dist/jquery.js")
    script(type="text/javascript", src="/bootstrap-filestyle/src/bootstrap-filestyle.js")

block body
    block selected
        -var selected= "home"; //Default selection
    -
        var menu = { 'home': {"path": '/', "label":"Home" },
        'stats': { "path":'/stats', "label":"Fingerprint Statistics" },
        'diff': { "path":'/diff', "label":"Fingerprint Diff" } };

    block header
        // manually constructed navbar by following mixin suggestions with some minor adaptations :)
        .container-fluid
            .row
                .col-md-10.col-md-offset-1
                    - var href = (typeof style === 'undefined') ? "/" : href
                    - var navbarId = "mainNavbar"
                    nav( role="navigation", class=["navbar", "navbar-default"] )
                        .navbar-header
                            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href=href, title=title)
                                img(src = "/images/svg/fingerprint-outline-with-magnifying-glass.svg",
                                    alt="header image", style="max-width:40px; margin-top: -10px;")

                        .navbar-collapse.collapse
                            .collapse.navbar-collapse( id=navbarId )
                                .nav.navbar-nav.navbar-left
                                    each val, key in menu
                                        if selected === key
                                            +nav_item(val["path"],"active")=val["label"]
                                        else
                                            +nav_item(val["path"])=val["label"]

                                //.nav.navbar-nav.navbar-right
                                //    if user
                                //        +nav_item("/") #{user.name}
                                //        +nav_item("/users/logout")
                                //            span.glyphicon.glyphicon-log-out(aria-hidden="true")
                                //    else
                                //        +nav_item("/users/login")
                                //            span.glyphicon.glyphicon-log-in(aria-hidden="true")
                                        //+nav_item("/users/register")
                                        //    span.glyphicon.glyphicon-edit(aria-hidden="true")

    .container-fluid
        block content
            p.text-center some content goes here

    block footer
        -year= new Date().getFullYear();
        footer.footer
            .container
                p.text-muted.text-center &copy;&#32;
                    a(href="http://costezki.ro" target="_blank") Eugeniu Costetchi
                    | &#32;#{year}