extends layout.pug

block selected
    -var selected= "stats";

block content
    .row
        .col-md-8.col-md-offset-2
            +panel-primary("Descriptive statistical report ")
                form(method="post" id='stats-form')
                    //progress bar
                    .progress
                        .progress-bar.progress-bar-striped.active(id="stats-progress",role='progressbar', aria-valuenow=value, aria-valuemin='0', aria-valuemax='100', style='width: 0%')
                            span.sr-only 0% Complete
                    //the result
                    .alert.alert-dismissible.alert-info(id="info-bubble",role='alert', hidden=true)
                        +icon("info-sign")
                        button.close(type='button', data-dismiss="alert", aria-label="Close")
                            span &times;
                        | The Report is available at this
                        a.alert-link(id="report-link", href='#', target="_blank")  link
                        | .

                    .alert.alert-dismissible.alert-danger(id="error-bubble",role='alert', hidden=true)
                        +icon("remove-sign")
                        button.close(type="button",data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true")  &times;
                        | There was an error while processing your request, please try again.

                    fieldset
                        //legend Report
                        //+input('text', "stats-title", config.title, 'Report title', 'config[title]')
                        //+input('text', "stats-author", config.author, 'Report author', 'config[author]')
                        //+input('text', "stats-description", config.description, 'Report description', 'config[description]')
                        div.form-group
                            label(for='stats-alpha-title') Dataset name
                            input(type='text' class='form-control' id="stats-alpha-title" value=config.alpha.title name='config[alpha][title]')
                        div.form-group
                            label(for='stats-alpha-description') Dataset description
                            input(type='text' class='form-control' id="stats-alpha-description" value=config.alpha.description name='config[alpha][description]')
                        .form-group
                            label(for="stats-alpha") CSV file (SPARQL query result set)
                            input.filestyle.form-control(type='file' id='stats-alpha'  data-buttonName="btn-primary" data-placeholder="No file"
                            data-buttonText="Select File")
                    p.buttons.text-center
                        button.btn.btn-primary(type='button' id='generate-stats' ) Generate report
                        //input.btn.btn-primary(type='submit' id='generate' value='Generate report')
                        //+submit-primary('Generate report')
                        //input(type="submit", value="Save")
    script(type="text/javascript", src="/javascripts/upload.js")